.d1{
    height: 400px;
    width: 400px;
    border:2px solid black;
}

.d2{
    height: 50px;
    width: 50px;
    background-color: blue;
    position: relative;
}

.d3{
    height: 50px;
    width: 50px;
    background-color: red;
    position: absolute;
    left: 20px;
}